
Burgers Equation/model_weights_2000.pth
Burgers Equation/model_weights_better.pth
Burgers Equation/model_weights_besterest.pth
Burgers Equation/model_weights_old.pth
Burgers Equation/model_weights.pth
Burgers Equation/data/Flow.csv
requirements.txt
